
<div class="banner" style="background-image:url({{ 'homepage_banner_img.jpg' | asset_url }})">

  <div class="ribbon-text"
    {% if settings.homepage_banner_ribbon_colour %}
      style="background: {{ settings.homepage_banner_ribbon_colour }};"
    {% endif %}>

    <h1 class="title-md"
      {% if settings.homepage_banner_ribbon_colour %}
        style="color: {{ settings.homepage_banner_ribbon_text_colour }};"
      {% endif %}>
      {{ settings.homepage_banner_text }}
    </h1>

  </div>
</div>
