
<div class="highlight-block">
  <div class="highlight-spacer"></div>
  <div class="container">
    <div class="highlight-title">
      <h1 class="title-sm title-uc">{{ highlight_title }}</h1>
    </div>
  </div>
  <div class="highlight-spacer-after"></div>
</div>
