
<h1 class="title-sm title-uc product-vendor">{{ product.vendor }}</h1>
<p class="title-sm product-title">{{ product.title }}</p>
<p class="price">
  – {% unless product.variants.size == 1 %}from {% endunless %}
  {{ product.price | money }}
</p>
