
<form method="get" action="/search" class="search-form">
  <input type="hidden" name="type" value="product" />
  <input type="text" name="q" class="search-term" value="{% if search.performed %}{{ search.terms }}{% endif %}">
  <input type="image" src="{{ 'magnifier.svg' | asset_url }}" class="magnifier">
</form>
