/*
@media (min-width:768px) {
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
}
*/

/*
  colours */
:root {
  --primary-colour: #1439A9;
  --highlight-colour: #f9ec19;
  --grey: #a1a1a1;
  --black: #333;
  --gold: #aa934d;
  --tope: #99594a;
}


/*
  typography & the basics */
body {
  background:#fff;
  font-size:16px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  line-height:1.4;
  color:#333;
}
/*@media (min-width:992px) { body { font-size:17px; } }
@media (min-width:1200px) { body { font-size:18px; } }*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-size: 1em; }

.title-lg {
  font-size: 1.6em;
}
.title-md {
  font-size: 1.4em;
}
.title-sm {
  font-size: 1.2em;
}
.title-uc {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

a, a:hover {
  color: var(--primary-colour);
}

.body-text a {
  font-weight: bold;
}

hr {
  border-top-color: #a1a1a1;
  margin: 0.5em;
}

input[type=number] {
  width: 3em;
}


/*
  utility */
.sticky {
  position: sticky;
  top: 1em;
}
.sticky:before,
.sticky:after {
  content: '';
  display: table;
}

.clearfix:before, .clearfix:after, .cf:before, .cf:after { content:"\0020"; display:block; height:0; visibility:hidden; }
.clearfix:after, .cf:after { clear:both; }
.clearfix, .cf { min-height:0; }
.clear { clear:both; }
