
.btn {
  border: 1px var(--primary-colour) solid;
  border-radius: 0;
  display: block;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-shadow: none;
  width: 100%;
}
.btn-primary, .btn-secondary:hover, .btn-secondary.active {
  background: var(--primary-colour);
  color: #fff;
}
.btn-primary:hover, .btn-secondary {
  background: #fff;
  color: var(--primary-colour);
}
.btn-inline {
  display: inline-block;
  width: auto;
}
