
.card {
  margin-bottom: 1em;
}

.product-card a {
  color: var(--black);
  display: block;
  border-bottom: 1px solid #fff;
}
.product-card a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--grey);
}
