.header {
  position: relative;
}
.magnifier {
  width: 1em;
  vertical-align: middle;
}
@media (min-width:768px) {
  .search-form {
    position: absolute;
    top: 1em;
    right: 0;
    text-align: right;
  }
}
.search-form .search-term {
  border: 1px solid #fff;
}
.search-form:hover .search-term {
  border: 1px solid var(--grey);
}


#logo {
  display: block;
  margin: 1.5em 0 0.5em 0;
}
#logo img {
  width: 16em;
}


.footer {
  border-bottom: 9px solid var(--primary-colour);
}
