{% assign page = pages.frontpage %}

<div class="leftcol box span3">
    <hr />
</div>

<div class="centercol box span6">
	<hr />		
  {{page.content}}
</div>

<div class="rightcol box span3" role="complementary">
	<hr />
	&nbsp;
</div>