
<h1>Designers</h1>

<div class="row">

{% for vendor in shop.vendors %}
<div class="card designer-card col-sm-6 col-sm-4">
  {% for designer in blogs.designers.articles %}
    {% if designer.title == vendor %}
      <!-- {{ designer.content }} -->
    {% endif %}
  {% endfor %}

  {% assign w = false %}
  {% assign m = false %}
  {% assign types = '' %}
  {% for product in collections.all.products %}
    {% if product.vendor == vendor %}
      {% assign types = types | append: ' ' | append: product.type %}
      {% if product.tags contains 'Women' %}
        {% assign w = true %}
      {% endif %}
      {% if product.tags contains 'Men' %}
        {% assign m = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign types = types | split: ' ' | uniq | sort | join: ', ' %}

  <h4 class="product-vendor">{{ vendor }}</h4>
  <h5 class="product-title">
    {% if w %}Women{% endif %}
    {% if w and m %} and {% endif %}
    {% if m %}Men{% endif %}
    {{ types }}
  </h5>
</div>
{% endfor %}

</div>
