
{% assign highlight_title = page.title %}
{% include 'highlight-title' %}

<div class="container body-text">
  <div class="row">
    <div class="col-lg-7 col-md-8 col-sm-10">

      {{ page.content }}

    </div>
  </div>

</div>
