
<div class="container">

  <div class="row">

    <div class="col-sm-6">
      <div class="hidden-sm hidden-md hidden-lg">
        {% include 'product-title' %}
      </div>

      {% for image in product.images %}
        <div class="product-images">
          <img src="{{ image | product_img_url: 'grande' }}" alt="{{ product.title | escape }}" class="img-responsive">
        </div>
      {% endfor %}
    </div>

    <div class="col-sm-6 col-md-5 col-lg-4 sticky">

      <div class="hidden-xs">
        {% include 'product-title' %}
      </div>

      {% include 'add-to-cart' %}

      {% assign c = product.description | split: '__' %}

      <div class="description">
        {{ c[0] }}
        {% if c[1] %}</p>{% endif %}
      </div>

      {% if c[1] %}
      <div class="details-toggler">
        <a href="#">Details +</a>
      <div class="details hidden"><p>{{ c[1] }}</div>
      </div>
      {% endif %}


    </div>

  </div>

</div>
